@page "/Laba10"
<div>
    <div>

        Фамилия (объект ТЕХТ).
        Имя (объект ТЕХТ).
        Отчество (объект ТЕХТ).
        E-mail (объект TEXT).
        Выбор страны (обязательно выпадающим SELECT, стран не менее 10-ти).
        Выбор города (обязательно с помощью RADIO, переменные должны быть одинаковыми, не
        менее 5-ти).
        Выбор языка (обязательно с помощью СНЕСКВOX, переменные должны быть разными, не
        менее 5-ти).
        Выбор профессий (обязательно с помощью SELECT MULTIPLE, переменные должны быть
        разными, не менее 10-ти).
        Пароль.
        Дополнительная информация (обязательно с помощью TEXTAREA).
        В скрытом поле (HIDDEN), передайте переменную student значение текстового
        (например, student=document.[имя формы].[имя поля].value).
        Поле для выбора файла, содержащего лабораторную работу.
        Кнопка для загрузки информации на сервер.
        Кнопка - изображение.
        Кнопка для очистки формы.
    </div>
    <div style="display:flex;width:100%;justify-content: space-evenly">
        <div style="width:600px">
            <form>
                <div class="mb-3">
                    <label class="form-label">Имя</label>
                    <input class="form-control" @bind="firstName">
                </div>
                <div class="mb-3">
                    <label class="form-label">Фамилия</label>
                    <input class="form-control" @bind="middleName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Отчество</label>
                    <input class="form-control" @bind="lastName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="email">
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example" @bind=country @onclick="@getCities">
                        <option selected>Выберите страну</option>
                        <option value="Россия">Россия</option>
                        <option value="Америка">Америка</option>
                        <option value="Испания">Испания</option>
                        <option value="Англия">Англия</option>
                        <option value="Франция">Франция</option>
                        <option value="Италия">Италия</option>
                        <option value="Португалия">Португалия</option>
                        <option value="Голандия">Голандия</option>
                        <option value="Канада">Канада</option>
                        <option value="Япония">Япония</option>
                    </select>
                </div>
                @if (country != "")
                {
                    <div class="mb-3" style="display:flex; flex-direction:column">
                        @if (cities.Length != 0)
                        {
                            @foreach (var item in cities)
                            {
                                <div style="width:80px; display:flex; justify-content: space-between;">
                                    <div>
                                        <input type="radio" name="group" value="item" @onclick="(() => city = item)">

                                    </div>
                                    <div style="display:flex; width:100%;" class="ps-2">
                                        <label class="form-label" for="exampleRadios1">
                                            @item
                                        </label>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                }
                @if (country != "Выберите страну")
                {
                    <div class="mb-3">
                        <div>
                            <input type="checkbox" name="checkbox" @bind-value="isActive">
                            <label> Русский</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkbox" @bind-value="isActive">
                            <label> Английский</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkbox" @bind-value="isActive">
                            <label> Испанский</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkbox" @bind-value="isActive">
                            <label>Японский</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkbox" @bind-value="isActive">
                            <label> Французкий</label>

                        </div>

                    </div>
                }
                <div class="mb-3">
                    <select class="form-select" id="multiple-checkboxes" 
                        @bind="profession">
                        <option selected>Выберите профессию</option>
                        @foreach (var item in professionList)
                        {
                            <option value="@item">@item</option>
                        }

                    </select>
                </div>
                <div class="mb-3 d-flex flex-column">
                    <label for="floatingTextarea"> Дополнительная информация</label>
                    <textarea class="form-control" style="height: 100px" id="floatingTextarea" @bind="info"></textarea>
                </div>
                <div class="mb-3 d-flex flex-column">
                    <label for="">Пароль</label>
                    <input type="password" @bind="password"/>
                </div>
            </form>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary">Отправить</button>
                <button class="btn btn-danger" @onclick="clearForm">Очистить</button>
            </div>
        </div>
        <div style="display:flex;flex-direction:column" class="mb-3">
            <div>Ваша анкета</div>
            <div>@firstName</div>
            <div>@middleName</div>
            <div>@lastName</div>
            <div>@email</div>
            <div>@country</div>
            <div>@city</div>
            <div>@profession</div>
            <div>@password</div>
        </div>
    </div>

</div>
@code {
    public string firstName = "";
    public string middleName = "";
    public string lastName = "";
    public string email = "";
    public string country = "Выберите страну";
    public string city = "";
    public string language = "";
    public string profession = "Выберите профессию";
    public string info = "";
    public string password = "";
    public string[] cities = new string[] { };
    public bool isActive = false;


    static string[] citiesRussia = new string[] { "Москва", "Питер", "Ростов", "Воронеж", "Шахты", "Омск" };
    static string[] citiesUSA = new string[] { " Калифорния", "Техас", "Флорида", "Колорадо", "Аризона" };
    static string[] citiesSpain = new string[] { "Барселона", "Барро", "Багур", "Бехар", "Бенаавис" };
    static string[] citiesEngland = new string[] { " Мальмсбери", "Мальтон", "Манчестер", "Маргит", "Маркет" };
    static string[] citiesFrench = new string[] { "Лилль", "Куршевель", "Монако", "Париж", "Монпелье" };
    static string[] citiesItali = new string[] { "Рим", "Римини", "Милан", "Флоренция", "Риччионе", "Венеция" };
    static string[] citiesPortugal = new string[] { "Лиссабон", "Фуншал", "Албуфейра", "Порту", "Лагош", "Виламора" };
    static string[] citiesNetherlands = new string[] { "Домбург", "Хорн", "Гронинген", "Харлинген", "Делфт", "Лейден" };
    static string[] citiesCanada = new string[] { "Торонто", "Монреаль", "Калгари", "Оттава", "Эдмонтон", "Миссисауга" };
    static string[] citiesJapan = new string[] { "Осака", "Нара", "Коясан", "Хаконэ", "Хакуба", "Наэба" };
    Dictionary<string, string[]> citiesCountrys = new()
    {
        {"Россия",citiesRussia},
        {"Америка",citiesUSA},
        {"Испания",citiesSpain},
        {"Англия",citiesEngland},
        {"Франция",citiesFrench},
        {"Италия",citiesItali},
        {"Португалия",citiesPortugal},
        {"Голандия",citiesNetherlands},
        {"Канада",citiesCanada},
        {"Япония",citiesJapan},
    };

    List<string> professionList = new()
    {
        "Web-разработчик",
        "BackEnd-разработчик",
        "Менеджер проектов",
        "Тестировщик",
        "UX-UI-дизайнер",
        "Бизнес-аналитик",
    };


    void getCities()
    {
        if (country != "")
        {
            cities = new string[] { };
            city = "";
            foreach (var item in citiesCountrys)
            {

                if (item.Key == country)
                {
                    cities = item.Value;
                }
            }
        }
    }
    void clearForm()
    {
        firstName = "";
        middleName = "";
        lastName = "";
        email = "";
        country = "Выберите страну";
        cities = new string[] { };
        city = "";
        language = "";
        profession = "Выберите профессию";
        info = "";
        password = "";
    }
}
